#todoApp {
  max-width: 800px;
  margin: 0 auto;
  padding: 5px 20px 30px;
  background-color: antiquewhite;
  border-radius: 0.75rem;
}
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #333;
  background-color: #9fc5ca;
  border-radius: 0.75rem;
  margin-top: 5%;
}
.todo-item:hover {
  background-color: #5b6d6f;
  color: #f1f1f1;
}
.todo-text {
  flex-grow: 1;
  margin-left: 10px;
}
.completed {
  text-decoration: line-through;
  color: #888;
}
.delete-btn {
  background-color: #ff4444;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
